<span style="color:red; margin-left: 2px" class="searchbar-cart">
    <a class="cart-link" href="/ShoppingCart/ShowCart" style="font-weight:200;">
        <img src="~/Content/image/34627.png" alt="">
    </a>
    <div class="show-total">Tổng Tiền :<b>@ViewBag.TotalCart.ToString("#,##0").Replace(',', '.') đồng</b></div>
</span>

